DATABASE_URL=
ABLY_API_KEY=
USER_ACCESS_SECRET=
CLIENT_ID=
CLIENT_SECRET=
EMAIL=
PASS=
REACT_APP_TYPE=
AUTH_KEY=
BACKEND_URL=


# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# .env (Dev)
DEV_URL1=http://localhost:5173
DEV_URL2=http://localhost:3000
DEV_URL3=http://localhost:3001

# .env (Prod)
PROD_URL1=https://yourdomain.com
PROD_URL2=https://www.yourdomain.com
PROD_URL3=https://app.yourdomain.com

